#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}

input {
  width: 400px !important;
}

.Download-Container {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Download-Btn {
  margin-left: 10px !important;
}

.Format-Items {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
